@model System.Collections.Generic.List<OnlineElectronicsStore.Domain.Entity.Category>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    <p>@item.Id @item.Name</p>
}
