<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OnlineElectronicsStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/_Layout/site.css" asp-append-version="true"/>
</head>
<body class="backgroundBody">
    <header class="gridBlock">
    		<nav>
    			<img src="~/lib/Images/logo.webp" class="imgLogo"  alt="Logo Gadgets store"/>
    			
    			<button class="btnCatalog">
    				<i class="fa-solid fa-bars"></i>
    				Каталог
    			</button>
    
    			<form class="search" method="get" asp-controller="Home" asp-action="Search">
    				<input type="text" placeholder="Пошук товарів" maxlength="128" name="search" autocomplete="off">
    				<button  type="submit">
    					<i class="fa-solid fa-magnifying-glass"></i>
    				</button>
    			</form>
			    
			    @if (User.Identity.IsAuthenticated)
			    {
				    <ul class="listHeader">
					    <li class="userIcon"><i class="fa-solid fa-user"></i>
						    <ul class="userMenu">
							    <li><i class="fa-solid fa-user"></i>Особиста інформація</li>
							    <li><i class="fa-solid fa-list-ul"></i>Мої замовлення</li>
							    <li><i class="fa-solid fa-comment"></i>Мої відгуки</li>
							    <hr color="lightgray">
							    <li><i class="fa-solid fa-right-from-bracket"></i>Вийти з акаунта</li>
						    </ul>
					    </li>
					    <li><i class="fa-solid fa-heart"></i></li>
					    <li><i class="fa-solid fa-cart-shopping"></i></li>
				    </ul>
			    }
			    else
			    {
				    <ul class="listHeader">
					    <a asp-controller="Account" asp-action="Login"><li class="userIcon"><i class="fa-solid fa-user"></i></li></a>
					    <li><i class="fa-solid fa-heart"></i></li>
					    <li><i class="fa-solid fa-cart-shopping"></i></li>
				    </ul>
			    }
    		</nav>
    	</header>
    
	<main class="gridBlock">
		@RenderBody()
   	</main>
    
   	<footer class="gridBlock">
   		<nav>
   			<h3>Розробники проекту</h3>
   			<ul>
   				<li>
   					<a href="https://www.instagram.com/roman.yagodka">
   						<i class="fa-brands fa-instagram"></i>
   						Ягодка
   					</a>
   				</li>
    
   				<li>
   					<a href="https://www.instagram.com/v0ldemar.s">
   						<i class="fa-brands fa-instagram"></i>
   						Смородько
   					</a>
   				</li>
    
   				<li>
   					<a href="https://www.instagram.com/dimaolshanskyj">
   						<i class="fa-brands fa-instagram"></i>
   						Ольшанський
   					</a>
   				</li>
    
   				<li>
   					<a href="https://www.instagram.com/sherbanstas">
   						<i class="fa-brands fa-instagram"></i>
   						Щербань
   					</a>
   				</li>
    
   				<li>
   					<a href="https://www.instagram.com/mandawatcher">
   						<i class="fa-brands fa-instagram"></i>
   						Вовк
   					</a>
   				</li>
    
   				<li>
   					<a href="https://www.instagram.com/daryna_v4">
   						<i class="fa-brands fa-instagram"></i>
   						Ведмеденко
   					</a>
   				</li>
   			</ul>
   		</nav>
    </footer>    

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/ea97496765.js" crossorigin="anonymous"></script>
<script src="~/js/_Layout/site.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>